* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
html {
  width: 100%;
  width: 100%;
}

.multi-background {
  width: 100vw;
  height: 100vh;
  background-color: #555;
  background-image: url('../images/5.png'),
                    url('../images/4.png'),
                    url('../images/3.png'),
                    url('../images/2.png'),
                    url('../images/1.png');
  background-size: 100vw 100%;
  background-position: 0px 0px;
  animation: multi-background 50s linear infinite;
}

.man{
  background-image: url('../images/man.png');
  position: absolute;
  bottom: 15%;
  left: 0%;
  width: 148px;
  height: 300px;
  overflow-y: hidden;
  animation: walk 2s steps(8) infinite, forward 12s linear infinite;
}

@-webkit-keyframes walk {
  from{
    background-position: 1186px;
  }
  to{
    background-position: 0px;
  }
}

@-webkit-keyframes forward {
  from{
    transform: translateX(-100px);
  }
  to{
    transform: translateX(100vw);
  }
}

@-webkit-keyframes multi-background {
  from {
    background-position: 7800px 0px,
                         6500px 0px,
                         5200px 0px,
                         3900px 0px,
                         2600px 0px;
  }
  to {
    background-position: 0px 0px,
                         0px 0px,
                         0px 0px,
                         0px 0px,
                         0px 0px;
  }
}
