* {
  margin: 0px;
  padding: 0px;
}
html {
  width: 100%;
  width: 100%;
}

#bg {
  width: 100vw;
  height: 100vh;
  background-color: #555;
  background-image: url('../images/5.png'),
                    url('../images/4.png'),
                    url('../images/3.png'),
                    url('../images/2.png'),
                    url('../images/1.png');
  background-size: 100vw 100%;
  background-position: 0px 0px;
}

#man{
  position: absolute;
  height: 300px;
  width: 148px;
  background-image: url('../images/man.png');
  bottom: 15%;
  left: 50%;
}

@keyframes bg {
  from {
    background-position: 7800px 0px,
                         6500px 0px,
                         5200px 0px,
                         3900px 0px,
                         2600px 0px;
  }
  to {
    background-position: 0px 0px,
                         0px 0px,
                         0px 0px,
                         0px 0px,
                         0px 0px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1000px) {
  #startbtn{
    position: absolute;
    border-radius: 4px;
    width: 85px;
    bottom: 8%;
    left: 40%;
  }
  #stopbtn{
    position: absolute;
    border-radius: 4px;
    width: 85px;
    bottom: 8%;
    left: 51%;
  }
}

@media only screen and (min-width: 650px) and (max-width: 750px) {
  #startbtn{
    position: absolute;
    border-radius: 4px;
    width: 80px;
    bottom: 8%;
    left: 38%;
  }
  #stopbtn{
    position: absolute;
    border-radius: 4px;
    width: 80px;
    bottom: 8%;
    left: 49%;
  }
}
